/* Write some CSS below */

body {
    font-family: Overpass;
    margin: 0;
  }
  
  h1, h2, h3 {
    font-family: "Jersey 10", sans-serif;
    color: #404042;
  }


  #banner{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/background.jpg');
    padding: 150px ;
    text-align: center;
    background-size: cover;
    background-position: center;


}

#banner  h1{
    color: white;
    font-size: 50px;
  }

#banner  p {
    color: #B4B6B7;
    opacity: 0.7;
    font-size: 25px;
    margin-bottom: 50px;
    

  }

  .button-blue {
    background-color: #1B48E3;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 22px;
    border-radius: 5px;
  }

.button-blue:hover{
    background-color: #0D1EC6;
    color: white;

}

.container {
    width: 800px;
    background-color: white;
    margin: auto;
    text-align: center;
  }

  .container h2 {
    font-size: 35px;
  }
  
  .card-white {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    width: 200px;
    text-align: center;
    padding: 24px;
    margin: 8px;
  }

  .card-white img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 4px;
  }

  .card-white h3 {
    margin-bottom: 0;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;

  }

  /* Cards media queries */
@media (max-width: 800px) {
    .cards {
      grid-template-columns: 1fr;
    }
    
    .card-white {
      width: auto;
    }
  }
    
  /* Container media queries */
  @media (min-width: 500px) {
    .container {
      width: 400px;
    }
  }
  
  
  @media (min-width: 800px) {
    .container {
      width: 600px;
    }
  }
  
  @media (min-width: 1000px) {
    .container {
      width: 800px;
    }
  }



#Footer {
    background-color: #404042;
    padding: 10px 0;
    text-align: center;
    margin-top: 10px;
}

#Footer p{
    color: white;
    opacity: .7;
    font-size: 16px;
}


 

  